/* #content {
  position: absolute;
  height: 100%;
  width: 100%;
} */

#examples {
  background-color: #dde5ec;
}

.nav-item.active {
  background-color: #3183fd;
  border-radius: 0.8rem;
}

.nav-link {
  padding: 0rem;
}

#endpoints .card-body {
  display: none
}