{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}

<!-- Modals -->
<!-- GET Manufacturers Modal -->
<div class="modal fade" id="get-manuf-example" tabindex="-1" aria-labelledby="get-manuf-example-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="get-manuf-example-label">Example of response from
                    /api/get-manufacturers
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="/static/img/get-manuf-example.jpg" alt="Example of GET Manufacturers">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- GET Devices Modal -->
<div class="modal fade" id="get-devices-example" tabindex="-1" aria-labelledby="get-devices-example-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="get-devices-example-label">Example of response from
                    /api/get-devices
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="/static/img/get-devices-example.jpg" alt="Example of GET Devices">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- GET Latest Devices Modal -->
<div class="modal fade" id="get-latest-devices-example" tabindex="-1" aria-labelledby="get-devices-example-label"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="get-latest-devices-example-label">Example of response from
                    /api/get-latest-devices
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="img-fluid" src="/static/img/get-devices-example.jpg" alt="Example of GET Latest Devices">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modals -->


<div class="row" id="content">
    <!-- Endpoints -->
    <div class="col-12 col-md-2 bg-light" id="endpoints">
        <p class="lead m-3 text-center">Endpoints</p>

        <div class="card bg-secondary text-light my-5" id="get-manufacturers-card">
            <div class="card-header text-center bg-light m-0 p-0">
                <p class="text-dark lead"><span class="text-success">GET</span> /api/get-manufacturers</p>
            </div>
            <div class="card-body p-0">
                <p class="lead">Get up to 100 manufacturers & all their devices. Requires an API Key, and accepts a
                    manufacturer name and a limit (up to 100) to narrow the results</p>
                <ul class="m-0">Requirements:
                    <li>API Key</li>
                </ul>
                <br>
                <ul class="m-0">Optional arguments:
                    <li class="my-1">manufacturer (get a specific manufacturer by name)</li>
                    <li class="my-1">limit (limit results to X manufacturers, with a max limit of 100)</li>
                </ul>
                <br>
                <!-- Modal Trigger -->
                <div class="text-center">
                    <button class="btn btn-outline-light mb-1" data-bs-toggle="modal"
                        data-bs-target="#get-manuf-example">Example Response</button>
                </div>
            </div>
        </div>

        <div class="card bg-secondary text-light my-5" id="get-devices-card">
            <div class="card-header text-center bg-light m-0 p-0">
                <p class="text-dark lead"><span class="text-success">GET</span> /api/get-devices</p>
            </div>
            <div class="card-body p-0">
                <p class="lead">Get up to 100 devices. Requires an API Key, and accepts a
                    manufacturer name, a part of a device name (iPhone, Galaxy A, Moto e etc.), and a limit (up to 100)
                    to narrow the results</p>
                <ul class="m-0">Requirements:
                    <li>API Key</li>
                </ul>
                <br>
                <ul class="m-0">Optional arguments:
                    <li class="my-1">name (Get a list of devices that include "name" in their name )</li>
                    <li class="my-1">limit (Limit results to "limit" devices, with a max limit of 100)</li>
                    <li class="my-1">manufacturer (Limit results to devices made by "manufacturer")</li>
                </ul>
                <br>
                <!-- Modal Trigger -->
                <div class="text-center">
                    <button class="btn btn-outline-light mb-1" data-bs-toggle="modal"
                        data-bs-target="#get-devices-example">Example Response</button>
                </div>
            </div>
        </div>

        <div class="card bg-secondary text-light my-5" id="get-latest-devices-card">
            <div class="card-header text-center bg-light m-0 p-0">
                <p class="text-dark lead"><span class="text-success">GET</span> /api/get-latest-devices</p>
            </div>
            <div class="card-body p-0">
                <p class="lead">Get up to 100 of the latest devices. Requires an API Key, and accepts a
                    manufacturer name, a part of a device name (iPhone, Galaxy A, Moto e etc.), and whether or not the
                    device has been released to narrow the results</p>
                <ul class="m-0">Requirements:
                    <li>API Key</li>
                </ul>
                <br>
                <ul class="m-0">Optional arguments:
                    <li class="my-1">name (Get a list of devices that include "name" in their name )</li>
                    <li class="my-1">manufacturer (Limit results to devices made by "manufacturer")</li>
                    <li class="my-1">is_released (Limit results to devices already released. Leave blank if you want
                        unreleased
                        devices)</li>
                </ul>
                <br>
                <!-- Modal Trigger -->
                <div class="text-center">
                    <button class="btn btn-outline-light mb-1" data-bs-toggle="modal"
                        data-bs-target="#get-latest-devices-example">Example Response</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Endpoints -->

    <!-- Example API Calls -->
    <div class="col-12 col-md-10" id="examples">
        <p class="lead text-dark text-center my-3">Content and example API calls</p>
        <div class="row ms-0">
            <!-- Requests -->
            <div class="col-6 border border-dark bg-light">
                <div class="">
                    <form id="example-request-form">
                        <div class="form-group text-center">
                            <label class="form-label h5" for="route">Route: </label>
                            <select class="form-control" name="route" id="route">
                                <option value="get-manufacturers">/api/get-manufacturers</option>
                                <option value="get-devices">/api/get-devices</option>
                                <option value="get-latest-devices">/api/get-latest-devices</option>
                            </select>
                        </div>
                        <p class="form-label h5 text-center my-1">Optional Arguments </p>

                        <div class="form-group mx-1">
                            <div class="form-group row my-1" id="manuf-name-group">
                                <label class="col-form-label col-sm-12 col-md-5" for="manufacturer">Manufacturer
                                    Name</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" type="text" id="manufacturer-name" name="manufacturer">
                                </div>
                            </div>
                            <div class="form-group row my-1" id="device-name-group" style="display: none;">
                                <label class="col-form-label col-sm-12 col-md-5" for="device">Device Name</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" type="text" id="device-name" name="name">
                                </div>
                            </div>
                            <div class="form-group row my-1" id="limit-group">
                                <label class="col-form-label col-sm-12 col-md-5" for="limit">Limit</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" type="number" id="limit" name="limit" min=1 max=100>
                                </div>
                            </div>
                            <div class="form-check my-1" id="is-released-group" style="display: none;">
                                <input class="form-check-input" type="checkbox" id="is-released" name="is_released"
                                    value="is_released">
                                <label class="form-check-label" for="is_released">Is
                                    Released</label>
                            </div>
                        </div>
                        <div class="text-center my-2">
                            <button class="btn btn-outline-dark">Send Request!</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Requests -->
            <!-- Responses -->
            <div class="col-6 border border-dark">
                <div class="">
                    <div class="card bg-dark">
                        <div class="card-header text-light text-center h5">Response</div>
                        <div class="card-body scroll" id="response-div">

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Responses -->
        </div>
    </div>
</div>

{% endblock %}