{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
<div class="row" id="content">
    <!-- Endpoints -->
    <div class="col-12 col-md-3 bg-light" id="endpoints">
        <p class="lead m-3 text-center">Endpoints</p>

        <div class="card bg-secondary text-light my-2" id="get-manufacturers-card">
            <div class="card-header text-center bg-light m-0 p-0">
                <p class="text-dark lead"><span class="text-success">GET</span> /api/get-manufacturers</p>
            </div>
            <div class="card-body p-0">
                <ul class="m-0">Requirements:
                    <li>API Key</li>
                </ul>

                <ul class="m-0">Optional arguments:
                    <li>Name (get a specific manufacturer by name)</li>
                    <li>Limit (limit results to X manufacturers, with a max limit of 100)</li>
                </ul>
                <br>
                <ul>Example Response
                    <li><img src="NONE" alt="Example of GET Manufacturers"></li>
                </ul>
            </div>
        </div>

        <div class="card bg-secondary text-light my-2" id="get-phones-card">
            <div class="card-header text-center bg-light m-0 p-0">
                <p class="text-dark lead"><span class="text-success">GET</span> /api/get-phones</p>
            </div>
            <div class="card-body p-0">
                <ul class="m-0">Requirements:
                    <li>API Key</li>
                </ul>

                <ul class="m-0">Optional arguments:
                    <li>Name (get a specific phone by name (may result in more than one phone if sharing name))</li>
                    <li>Limit (limit results to X phones, with a max limit of 100)</li>
                    <li>Price (get phones based on a price range)</li>
                </ul>
                <br>
                <ul>Example Response
                    <li><img src="NONE" alt="Example of GET Phones"></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Example API Calls -->
    <div class="col-12 col-md-9" id="examples">
        <p class="lead text-dark text-center my-3">Content and example API calls</p>
        <div class="row ms-0">
            <div class="col-6 border border-dark">
                <div class="text-center">
                    <p class="lead">Request!</p>
                    <div class="bg-light">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perspiciatis.
                            Reprehenderit corrupti dignissimos veritatis! At vero laudantium ducimus quae doloremque!
                            Laborum impedit ipsum porro? Soluta eius aliquid ab nulla rerum. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Officia et saepe est. Atque excepturi eius delectus culpa,
                            odit obcaecati voluptas corrupti sequi nihil mollitia voluptatem facilis quibusdam aliquid
                            architecto fuga.</p>
                    </div>
                </div>
            </div>
            <div class="col-6 border border-dark">
                <div class="text-center">
                    <p class="lead">Response!</p>
                    <div class="bg-dark">
                        <p class="text-light">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam tempora, nihil aut non
                            quasi tempore delectus laudantium porro cum dolore ex, dolor dignissimos reprehenderit
                            fugiat error magnam, molestiae eveniet vero. Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Quam nisi, voluptas porro qui, animi fugiat excepturi, sed necessitatibus
                            natus sapiente sint cumque nesciunt ad sit facere laudantium possimus numquam. Maxime
                            fuga.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}